<div *ngIf="!encuestado">
  <mat-toolbar>Complete the survey!</mat-toolbar>
  <form #myform="ngForm" class="example-form" (ngSubmit)="onSubmit()" [formGroup]="form">
    <mat-card>
      <div class="example-container">
        <mat-form-field>
          <input formControlName="names" matInput placeholder="Names" [(ngModel)]="votacion.nombres" required>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="lastnames" matInput placeholder="Last Names" [(ngModel)]="votacion.apellidos"
            required>
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="age" type="number" placeholder="Age" [(ngModel)]="votacion.edad" required>
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="options" placeholder="Select your favourite language"
            [(ngModel)]="votacion.opcion" required>
            <mat-option *ngFor="let opcion of opciones" [value]="opcion">
              {{opcion.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" [disabled]="!form.valid">Send my answer</button>
      </div>
    </mat-card>
  </form>
</div>
<div *ngIf="encuestado">
  You complete succesfully our survey, thanks for your participation.
</div>