<div class="main-div">
  <mat-card class="example-card center">
    <mat-card-header class="centerContent">
      <mat-card-title style="margin-left: 0px">Welcome to the Survey of the 2019</mat-card-title>
      <img src="assets/login.jpg" alt="image" width="50px" height="50px">
    </mat-card-header>
    <form #myform="ngForm" class="example-form" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" [(ngModel)]="login.username" name="login.username" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" [(ngModel)]="login.password" type="password" name="login.password"
            required>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="end">
        <button type="submit" mat-raised-button [disabled]="myform.invalid" color="primary">Login</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>