<div class="example-container">
  <h2 mat-dialog-title>Update the survey</h2>
  <form #myform="ngForm" class="example-form" (ngSubmit)="onSubmit()" [formGroup]="form">
    <mat-card>
      <div class="example-container">
        <mat-form-field>
          <input formControlName="names" matInput placeholder="Names" [(ngModel)]="votacion.nombres" required>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="lastnames" matInput placeholder="Last Names" [(ngModel)]="votacion.apellidos"
            required>
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="age" type="number" placeholder="Age" [(ngModel)]="votacion.edad" required>
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="options" placeholder="Select your favourite language"
            [(ngModel)]="votacion.opcion.id" required>
            <mat-option *ngFor="let opcion of opciones" [value]="opcion.id">
              {{opcion.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" [disabled]="!form.valid">Update the answer</button>
      </div>
    </mat-card>
  </form>
</div>