<mat-toolbar>Mantenimiento de Votaciones</mat-toolbar>
<div class="example-container">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Registro">
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <ng-container matColumnDef="usuario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> USUARIO </th>
      <td mat-cell *matCellDef="let row"> {{row.usuario}}</td>
    </ng-container>

    <ng-container matColumnDef="nombres">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRES </th>
      <td mat-cell *matCellDef="let row"> {{row.nombres}}</td>
    </ng-container>

    <ng-container matColumnDef="apellidos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> APELLIDOS </th>
      <td mat-cell *matCellDef="let row"> {{row.apellidos}}</td>
    </ng-container>

    <ng-container matColumnDef="edad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> EDAD </th>
      <td mat-cell *matCellDef="let row"> {{row.edad}}</td>
    </ng-container>

    <ng-container matColumnDef="opcion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> OPCION </th>
      <td mat-cell *matCellDef="let row"> {{row.opcion.nombre}}</td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let row">
        <span>
          <button mat-icon-button (click)="eliminarVotacion(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </span>

        <span>
          <button mat-icon-button (click)="actualizarVotacion(row)">
            <mat-icon>autorenew</mat-icon>
          </button>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [length]="totalElementos" (page)="mostrarMas($event)">
  </mat-paginator>
</div>