<div class="main-div">
    <mat-card class="example-card center">
        <mat-card-header class="centerContent">
            <mat-card-title style="margin-left: 0px">Something wrong happen!</mat-card-title>
            <img src="assets/error.png" alt="image" width="35px" height="25px">
        </mat-card-header>
        <mat-card-content>
            <p *ngIf="data.dato.status == 'OK-UPDATE'">
                This is your first time, Please change your password
            </p>

            <p *ngIf="data.dato.status == 'OK-RESET'">
                Please, update your password
            </p>

            <p *ngIf="data.dato.status.indexOf('OK-') < 0">
                {{data.error}}
            </p>

            <form *ngIf="data.dato.status == 'OK-UPDATE' " class="example-form">
                <form #myform="ngForm" class="example-form" (ngSubmit)="onSubmit('OK-UPDATE')">

                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="New Password" [(ngModel)]="password" type="password"
                            name="password" required>
                    </mat-form-field>

                    <button type="submit" mat-fab color="primary" [disabled]="myform.invalid">Send</button>
                </form>
            </form>

            <form *ngIf="data.dato.status == 'OK-RESET' " class="example-form">
                <form #myform="ngForm" class="example-form" (ngSubmit)="onSubmit('OK-RESET')">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Verification Code"
                            [(ngModel)]="datosChangePassword.verificationCode" type="password"
                            name="datosChangePassword.verificationCode" required>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="New Password" [(ngModel)]="datosChangePassword.newPassword"
                            type="password" name="datosChangePassword.newPassword" required>
                    </mat-form-field>

                    <button type="submit" mat-fab color="primary" [disabled]="myform.invalid">Send</button>
                </form>
            </form>
        </mat-card-content>
    </mat-card>

</div>